streamlit
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-classic
langchain-core
langchain-text-splitters
chromadb
pypdf
bcrypt
sentence-transformers